:root {
  --primary: #2d4b73;
  --vivid: #d9b70d;
  --light: #99b4bf;
  --dark: #0e1a3b;
  --secondary: #bf8d30;
  --white: #fff;
  --black: #111;

  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 0px;
  --swiper-navigation-color: var(--vivid);
  --swiper-navigation-size: 24px !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--dark);
  color: #eee;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  margin: auto;
  max-width: 1440px;
  padding: 0 1rem;
}

.ads-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}
