:root {
  --primary: #fcca46;
  --vivid: #619b8a;
  --light: #a1c181;
  --dark: #233d4d;
  --secondary: #fe7f2d;
  // --white: #fff;
  // --black: #111;

  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 0px;
  --swiper-navigation-color: var(--primary);
  --swiper-navigation-size: 24px !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--dark);
  color: #eee;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  margin: auto;
  max-width: 1440px;
  padding: 0 1rem;
}

.ads-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}
