.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.heading {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.newsletter {
  & form {
    width: 100%;
    input {
      padding: 0.75rem;
      background: var(--primary);
      color: var(--white);
      border-radius: 80px 0 0 80px;
      outline: 1px solid var(--primary);

      &:focus {
        border: 0;
        outline: 1px solid var(--secondary);
        
         }
    }

    button {
      margin-left: 2px;
      color: var(--primary);
      right: 0;
      top: 0;
      padding: 0.75rem;
      font-weight: 600;
      background-color: var(--vivid);
      cursor: pointer;
      transition: background-color 0.2s;
      border-radius: 0 80px 80px 0;
      outline: 1px solid var(--primary);

      &:hover {
        background-color: var(--light);
        color: var(--primary);
        transform: scale(1.03);
        transition: transform 0.1s;
      }
    }

    input,
    button {
      font-family: inherit;
      font-size: 0.75rem;
      border: 0;
    }
  }
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--white);

  a {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: var(--primary);
    border-radius: 80px;
    transition: color 0.3s;

    &:hover {
      color: var(--primary);
      background-color: var(--vivid);
      transition: background-color 0.2s;
      transform: scale(1.03);
      transition: transform 0.1s;
    }
  }
}

.cryptoGraph {
  table {
    width: 100%;
    border: 1px solid var(--primary);

    tr:nth-child(even) {
      background: var(--primary);
    }

    &,
    th,
    td {
      border-collapse: collapse;
      font-size: 0.8rem;
      text-align: center;
      padding: 0.5rem;
    }

    & th {
      background: var(--primary);
    }

    .name {
      font-weight: 600;
    }
  }
}
