.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #000;
  color: #fff;
  font-size: 0.8rem;
}

.icons {
  a {
    height: max-content;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #fff;
    :hover {
      color: (orange);
    }
  }
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  color: #fff;
}

.contact {
  display: inline-block;
  width: max-content;
  h3 {
    font-size: 0.8rem;
  }
}
