.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #000;
  color: #fff;
  font-size: 0.8rem;
}

.icons {
  border-radius: 12px;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  color: #fff;
}

.contact {
}
