.nav {
  background: #222;
  height: 3.5rem;

  ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
  }

  a {
    padding: 0.5rem;
  }
}
